@font-face {
  src: url("./roboto_light.ttf");
}

@font-face {
  src: url("./roboto_medium.ttf");
}

@font-face {
  src: url("./roboto_thin.ttf");
}

@font-face {
  src: url("./roboto_bold.ttf");
}

/*Label {
	-fx-font-family: 'Roboto Light';
}

#errorLabel {
	-fx-font-family: 'Roboto Bold';
}
.jfxButton {
	-fx-font-family: 'Roboto Bold';
}

.link {
	-fx-font-family: 'Roboto Medium';
}
.jfxButton:hover {	
	-fx-effect: dropshadow( gaussian , rgba(0,0,0,0.7) , 10,0,0,1 );
	-fx-font-family: 'Roboto Bold';
}

.link:hover {
	-fx-background-color: rgba(41,122,229,0.25);
}
*/
.shine:hover{
	-fx-opacity: 1;
}

.leftButtons:hover{
	-fx-text-fill: #3498DB;
	-fx-border-color: #048FD8;
	-fx-border-width : 0 0 0 2;
}

.mainbutton {
	-fx-border-color:  #3498DB;
	-fx-border-width: 0.5;
	-fx-border-radius: 50;
	/*-fx-text-fill: #6e6e6e;*/
	-fx-text-fill: #3498DB;
	-fx-pref-width: 175;
	-fx-pref-height: 40;
	-fx-text-alignment: center;
	-fx-alignment: center;
	-fx-font-family: Verdana;
	-fx-font-size: 15px;
	-fx-font-weight: bold;
}

.mainbutton:hover {
	-fx-background-color:  #3498DB;
	-fx-cursor: hand;
	-fx-text-fill: white;
	-fx-border-color:  #3498DB;
	-fx-border-width: 0.5;
	-fx-border-radius: 50;
	-fx-background-radius: 50;
}

TableView:focused {
    -fx-focus-color: transparent; 
    -fx-background-insets: -1.4, 0, 1, 2;
}


